body {
    background-color: #1c1d1d;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}

.container {
    position: absolute;
    width: auto;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -170px;
}

button:focus {outline:0;}

.btn {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px solid #019bf5;
    text-align: center;
    transition: all 0.05s;
    background-color: transparent;
    vertical-align: middle;
}

.btn:active {
    transform: scale(0.9);
    border: 2px solid #01f55f;
}

.btn img {
    width: 50px;
    height: 50px;
}

.button-poles {
    display: block;
    margin: 10px auto;
}

.button-sides {
    display: inline-block;
    margin: 5px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 360px) and (orientation: portrait),
(max-width : 800px) and (orientation: landscape){

    .container {
        margin-top: -125px;
        margin-left: -125px;
    }
    
    .btn {
        height: 70px;
        width: 70px;
    }
    .btn img {
        width: 30px;
        height: 30px;
    }

}



